*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar-container{
    background-color: black;
    color: white;
    padding: 24px;
    display: flex;

    gap: 48px;
}

a:visited{
    color: white;
}

body{
    background-color: rgb(46, 45, 45);
}

.home-container{
    padding: 24px;
    text-align: center;
    color: white;
}

.image-generator-main-container{
    padding: 24px;
    color: white;
}

.image-container{
    display: flex;
    justify-content: center;
}

.search-container{
    margin: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input{
    outline: none;
    border: none;
    padding: 12px 24px;    
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

.search-container button{
    background-color: #79B2F3;
    outline: none;
    border: none;
    padding: 12px 24px;    
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

